
<% if flash[:errors]%>
<ul>
  <%flash[:errors].each do |err|%>
  <span style="color:red"><li><%=err%></li></span>
  <%end%>
<%end%>
</ul>

<h1>New Festival</h1>

<%= render 'form', festival: @festival %>

<%= link_to 'Back', festivals_path %>
